body, html {
  margin: 0 auto;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f0f0f0; */
  /* background-image: url("https://img.fixthephoto.com/blog/images/gallery/news_preview_mob_image__preview_1372.jpg"); */
}

#root{
  height: 100%;
}

.wrapper{
  background-color: #f0f0f0;

}
/* .logged-in{
  background-image: none;
} */
code {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
}
.header{
  background-image: url("https://cdn.shopify.com/s/files/1/2717/4174/products/Wanderlust_Hiking_on_Legendary_Trails_book_gestalten_05_2000x.jpg?v=1583927941");
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar{
  /* width: 100%; */
  margin: 0px 30px;
}

header a,
header button, .dropdown {
  font-size: 15px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #0c0132;
  cursor: pointer;
}

.active{
  /* text-decoration: underline; */
  font-weight: 700;
}

/* .main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
} */

main{
  height: 100%;
}
.container{
  background-image: url("https://cdn.shopify.com/s/files/1/2717/4174/products/Wanderlust_Hiking_on_Legendary_Trails_book_gestalten_05_2000x.jpg?v=1583927941");
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  height: 100%;
  padding: 0px;
  align-items: center;
  display: grid;
}

/* .login{
  height: 60%;
  padding: 150px;
}

.signup{
  height: 100%;
  padding: 0px;
  align-items: center;
  display: grid;
} */

/* form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  text-align: center;
  align-items: center;
  width: 40%;
} */

form {
  background-color: white;
  /* display: flex; */
  flex-direction: column;
  padding: 40px;
  text-align: center;
  /* align-items: center; */
  width: 40%;
  /* margin: 18% auto; */
  margin: auto;
}

/* .background-img{
  width: 60%;
  position: relative;
  overflow: hidden;
} */

.img-container{
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}
.img{
  /* width: 100%; */
  height: 100%;
  transition: transform .5s;
}

.img:hover{
  transform: scale(1.2);
  /* height: 110%;
  width: auto; */
}

.cards, .card-info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  justify-items: center;
  margin-top: 50px;
}

.info{
  margin-bottom: 50px;
}
.card-details{
  text-align: center;
}
/* .container{
  display: flex;
  align-items: center;
  background-color: white;
} */

input{
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #0c0132;
  height: 30px;
  margin-bottom: 20px;
  padding: 0;
}

h1{
  font-size: 25px;
  font-weight: 300;
}

h3{
  font-size: 15px;
  font-weight: 300;
}

h5{
  font-size: 12px;
  font-weight: 300;
}

button{
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  background-color: #0c0132;
  color: white;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
}

.logout{
  color: #0c0132;
  background-color: transparent;
  border-radius: none;
  font-size: 15px;
  width: auto;
  text-transform: capitalize;
  letter-spacing: 0;
}

.title{
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 700;
}

.subtitle{
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}
/* .dropdown:hover .dropdown-content {
  display: block;
} */

hr{
  border: 1px solid #f0f0f0;
  margin: 0;
}

.search{
  width: 100%;
  margin-top:30px;
  /* margin: 0 auto; */
}

.input-search{
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 5px;
  border-radius: 50px;
  /* border-radius: 0px 5px 5px 0px; */
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  color: #0c0132;
}

/* input[type="search"]{
  margin-left: 20px;
} */

::-webkit-input-placeholder { /* Edge */
  padding-left: 10px;
  color: #0c0132;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left: 10px;
  color: #0c0132;
}

::placeholder, input[type="text"], input[type="search"] {
  padding-left: 10px;
  color: #0c0132;
}

.header-text{
  padding: 200px;
}

.link{
  text-decoration: none;
  color: #0c0132;
}

.buttons{
  margin: 50px;
}

.btn{
  color: white;
  text-decoration: none;
  padding: 10px 50px;
  background: #0c0132;
  border-radius: 70px;
  margin: 20px;
}

.map-container{
  width: 500px;
  height: 300px;
  top: 40%;
}

/* .info{

} */