body, html {
  margin: 0 auto;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f0043;
}
#packing-header{
  padding: 50px 0px 0px 0px;
}
h1{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
h2{
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
h3{
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
h4{
  font-size: 16px;
  margin: 0;
}
h5{
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
p{
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}
.trip-form{
display: flex;
flex-direction: row;
column-gap: 50px;
justify-content: center;
padding: 50px;
}
div.header.form-header{
  width: 100%;
}
.container{
  background-image: url("https://cdn.shopify.com/s/files/1/2717/4174/products/Wanderlust_Hiking_on_Legendary_Trails_book_gestalten_05_2000x.jpg?v=1583927941");
  background-position: 'center';
  background-size: cover;
  background-repeat: 'no-repeat';
  height: 100%;
  padding: 0px;
  align-items: center;
  display: grid;
}
.login-form-input{
  border: none;
  border-bottom: 1px solid #0f0043;
  width: 100%;
}
input{
  font-family: Arial, Helvetica, sans-serif;
}
.trip-form-input{
  width: 200px;
  border: none;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 70%;
  margin: 100px auto;
  text-align: center;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
}
.credentials{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.profile-credentials{
  align-items: normal;
}
.form-text{
  margin: 0;
}
.form-wrapper{
  background-color: white;
  border-radius: 15px;
  width: auto;
  margin: auto;
}
button.form-button{
  background-color: #0f0043;
  padding: 10px 50px;
  border-radius: 50px;
  color: white;
}
.details-img-container{
  width: 35%;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.details-info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}
.icon, .itinerary-details-info{
  padding: 50px;
}
div.details.details-info{
  align-items: flex-start;
  row-gap: 10px;
  padding: 30px;
}
.itinerary-details{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.details-copy{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.profile-form-details-copy{
  row-gap: 30px;
}
.info-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-row{
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
  width: 90%;
  margin: 0 auto;
  padding: 130px 0px 50px 0px;
}
.cards{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 100%;
}
.details{
  display: flex;
  align-items: center;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  column-gap: 20px;
  padding: 20px;
  justify-content: center;
}
div.details.profile-details{
  display: flex;
  align-items: center;
  margin: 50px 0px;
  justify-content: center;
}
.profile-wrapper{
  margin-left: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.itinerary-info{
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}
.btn-container{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
label{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.filter-input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}
.filter{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 180px;
}
.filter-mobile{
  display: none;
  margin: 20px 0px;
}
.details-wrapper{
  background-color: white;
  width: 90%;
  margin: 0 auto;
}
.details-container{
  display: flex;
  column-gap: 50px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
}
.map-details{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.map-info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.background{
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 30px;
}
.back-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -80px;
  width: 100%;
}
.details-back-link{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.back-link-right{
  justify-content: flex-end;
}
.back-link-btn{
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
}
.small-details{
  display: flex;
  column-gap: 10px;
}
.line-details{
  border: 0.5px solid rgb(210, 210, 210);
  margin: 0;
  height: 250px;
}
.multiple-images{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  height: 350px; 
  overflow: hidden;
}
.grid-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-image {
  grid-column: 1 / 2;
}
.header-copy{
  text-shadow: 0 3px 10px rgba(0,0,0,27);
  color: white;
  text-align: center;
}
.results{
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(210, 210, 210);
}
.page-header{
  position: relative;
  display: inline-block;
  width: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}
.header {
  position: absolute;
  bottom: -80px;
  width: 90%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
div.header.new-trip-form-wrapper{
  bottom: -100px;
}
.new-trip-form-container{
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
}
.new-trip-form-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.header-text{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.cropped-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cropped-img-container{
  width: 100%;
  height: 350px; 
  overflow: hidden;
}
.card-details{
  color: #0f0043;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}
.spotlight{
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.img-container{
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 100%;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 80px;
}
.fa-solid{
  font-size: 20px;
  color: #0f0043;
  }
.fa-circle-chevron-left, .fa-circle-chevron-right{
  font-size: 40px;
  color: rgb(210, 210, 210);
}
.fa-sharp.fa-solid.fa-circle-chevron-right.nav-arrow, .fa-sharp.fa-solid.fa-circle-chevron-left.nav-arrow{
  font-size: 20px;
  color: #0f0043;
  }
.fa-sharp.fa-solid.fa-circle-chevron-right.form-arrow{
  font-size: 50px;
  color: #0f0043;
}
.fa-hotel, .fa-utensils, .fa-map, .fa-exclamation{
    font-size: 30px;
  }
.fa-solid:hover{
  cursor: pointer;
}
.btn{
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  padding: 10px 50px;
  border-radius: 70px;
}
.primary-btn{
  background-color: #0f0043;
  color: white;
  border: 1px solid #0f0043;
}
.secondary-btn{
  border: 1px solid #0f0043;
  color: #0f0043;
  background-color: white;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
}
#mobile{
  display: none;
}
.mobile-drop{
  display: none;
}
#root{
  height: 100%;
}
code {
  font-family: Arial, Helvetica, sans-serif;
}
.time-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trip-links{
  text-decoration: none;
  color:  #0f0043;
}
.navbar-header{
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trip-listings{
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.navbar{
  font-size: 20px;
}
.fa-magnifying-glass, .fa-map, .fa-hotel, .fa-utensils, .fa-exclamation {
  color: white;
}
.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #0f0043;
  border-radius: 50%;
}
.nav{
  border-bottom: 1px solid rgb(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 40px;
  column-gap: 40px;
  margin: 0 auto;
  padding: 15px;
}
.submit-arrow{
  border: none;
  background-color: transparent;
}
header a,
header button, .dropdown {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: #0f0043;
  cursor: pointer;
  position: relative;
}
.visible a{
  display: block;
  text-decoration: none;
  color: #0f0043;
  font-weight: 300;
  padding: 0;
}
a.link.active{
  border-bottom: 1px solid #0f0043;
  color: #0f0043;
}
main{
  height: 100%;
}
#profile-container{
  width: 100%;
}
.profile-info-details{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.rectangle-card-info{
  margin: 10px;
}
a.link.login-link{
  justify-content: center;
  color: #0f0043;
  text-decoration: underline;
}
.nav-link{
  color: #0f0043;
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  padding: 0;
  font-weight: 300;
  margin: 10px;
}
.navlink-button{
  margin: 0px;
}
.mobile-dropdown{
  display: none;
}
.desktop-dropdown{
  display: block;
}
.dropdown-content, .nav-dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  margin: 10px;
  padding: 10px;
}
.trip-menu{
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}
.navbar-header-mobile{
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}
.search{
  padding: 15px;
  display: flex;
  align-items: center;
}
input[type="text"], input[type="search"], input[type="datetime-local"]{
  color: #0c0132;
}
.input-search{
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  border: none;
  color: #0f0043;
}
input[type="search"]{
  border: none;
  margin-bottom: 0;
  width: 100%;
  height: 50px;
}
::-webkit-input-placeholder {
  color: rgb(210, 210, 210);
}
:-ms-input-placeholder {
  color: rgb(210, 210, 210);
}
::placeholder, input[type="text"], input[type="search"], input[type="datetime-local"] {
  color: rgb(210, 210, 210);
}
.link{
  text-decoration: none;
  color: gray;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.map-container{
  width: 400px;
  height: 200px;
  top: 40%;
}
input[type="search"]:focus {
  outline : none;
}
select:focus{
  outline: none;
}
input:focus {
  outline: none;
}
.side-bar{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.my-trips{
  background-color: #f0f0f0;
  color: #0f0043;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.map-wrapper{
  display: block;
}
.user-map-container{
  width: 100%;
  height: 250px;
}
.trips-wrapper{
  margin-left: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.trips{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-bottom: 50px;
}
.flight-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line{
  width: 90%;
  border-bottom: 1px dotted #0f0043;
  margin-top: 10px;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.trip-info{
  display: flex;
  column-gap: 30px;
}
.packing{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
}
.packing-menu{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
div.packing-details{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: space-between;
}
input[type="text"], input[type="search"], input[type="datetime-local"]{
  color: #0f0043;
}
a.trip-links.active{
  color: #0f0043;
}
.round-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.round-checkbox input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.round-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #fff;
}
.round-checkbox .checkmark::after {
  content: '';
  position: absolute;
  display: none;
}
.round-checkbox input[type="checkbox"]:checked ~ .checkmark::after {
  display: block;
}
.round-checkbox .checkmark::after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0f0043;
}
.desktop-nav{
  display: block;
}
.mobile-nav{
  display: none;
}
.search-results{
  display: flex;
  column-gap: 30px;
  align-items: center;
  width: 40%;
  margin: 30px auto;
}
.search-img-container{
  width: 50px;
  height: 50px;
}
.input-error{
  border-bottom: 1px solid firebrick;
}
.error-message{
  text-align: left;
  display: block;
  color: firebrick;
}
.error-message-time{
  width: 150px;
}
.mobile{
  display: none;
}
.error-popup{
  position: absolute;
  background-color: white;
  border: 1px solid firebrick;
  border-radius: 10px;
  padding: 10%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.restricted-access-popup{
  top:50%;
  padding: 20px;
}
.restricted{
  top: 50%;
}
.error-icon{
  background-color: firebrick;
}
.error-text{
  color: firebrick;
  text-align: center;
}
.error-btn{
  border: 1px solid firebrick;
  color: firebrick;
  background-color: white;
}
.error-btn:hover{
  background-color: firebrick;
  color: white;
}
.error-text-container, .error-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.error-text-wrapper{
  row-gap: 15px;
}
.loading{
  text-align: center;
  color: rgb(210, 210, 210);
  font-size: 30px;
  margin-top: 50px;
}
.pop-up-error{
  text-align: center;
  width: auto;
  color: #0c0132;
}
.trip-back-link{
  justify-content: flex-end;
}

@media only screen and (max-width: 1200px) and (min-width: 990px){
  .wrapper{
    row-gap: 120px;
  }
  .img-container{
    width: 130px;
    height: 130px;
  }
  .circle-container{
    width: 50px;
    height: 50px;
  }
  .map-container{
    width: 350px;
  }
  .line-details{
    height: 350px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.form-arrow {
    font-size: 40px;
  }
  .fa-hotel, .fa-utensils, .fa-map, .fa-exclamation {
    font-size: 20px;
  }
  .icon, .itinerary-details-info {
    padding: 10px;
  }
  .trips, .trips-wrapper{
    row-gap: 30px;
  }
  .trip-form {
    column-gap: 30px;
    padding: 30px;
  }
  div.header.new-trip-form-wrapper{
    bottom: -120px;
  }
  .new-trip-form-grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 18px;
  }
}

@media only screen and (max-width: 989px) and (min-width: 900px){
  .wrapper{
    row-gap: 120px;
  }
  .img-container{
    width: 110px;
    height: 110px;
  }
  .circle-container{
    width: 40px;
    height: 40px;
  }
  .map-container{
    width: 350px;
  }
  .details-container{
    column-gap: 30px;
  }
  .line-details{
    height: 350px;
  }
  .fa-solid, .fa-sharp.fa-solid.fa-circle-chevron-right.nav-arrow, .fa-sharp.fa-solid.fa-circle-chevron-left.nav-arrow{
    font-size: 15px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.form-arrow {
    font-size: 35px;
  }
  .fa-hotel, .fa-utensils, .fa-map, .fa-exclamation {
    font-size: 20px;
  }
  .icon, .itinerary-details-info {
    padding: 10px;
  }
  .trips, .trips-wrapper{
    row-gap: 30px;
  }
  .trip-form {
    column-gap: 30px;
    padding: 30px;
  }
  div.header.new-trip-form-wrapper{
    bottom: -120px;
  }
  .new-trip-form-grid{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 18px;
  }
  .filter{
    row-gap: 20px;
  }
  .my-trips{
    width: 35%;
  }
  .profile-wrapper, .trips-wrapper{
    margin-left: 35%;
  }
}

@media only screen and (max-width: 899px) and (min-width: 710px){
  .wrapper{
    row-gap: 100px;
  }
  .img-container{
    width: 100px;
    height: 100px;
  }
  .row, .spotlight{
    column-gap: 20px;
  }
  .details-row{
    column-gap: 30px;
  }
  .fa-solid{
    font-size: 15px;
  }
  .fa-circle-chevron-left, .fa-circle-chevron-right {
    font-size: 30px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.nav-arrow, .fa-sharp.fa-solid.fa-circle-chevron-left.nav-arrow{
    font-size: 15px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.form-arrow {
    font-size: 35px;
  }
  .btn{
    padding: 5px 20px;
  }
  .circle-container{
    width: 40px;
    height: 40px;
  }
  .map-container{
    width: 250px;
    height: 150px;
  }
  .details-container{
    column-gap: 30px;
    padding: 30px;
  }
  .line-details{
    height: 350px;
  }
  .map-info{
    row-gap: 15px;
  }
  .icon, .itinerary-details-info {
    padding: 10px;
  }
  .trips, .trips-wrapper{
    row-gap: 30px;
  }
  .fa-hotel, .fa-utensils, .fa-map, .fa-exclamation {
    font-size: 20px;
  }
  .trip-form {
    column-gap: 30px;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
  }
  div.header.new-trip-form-wrapper{
    bottom: -120px;
  }
  .new-trip-form-grid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 14px;
  }
  h5{
    font-size: 12px;
  }
  p{
    font-size: 10px;
  }
  .filter{
    row-gap: 20px;
  }
  .my-trips{
    width: 35%;
  }
  .profile-wrapper, .trips-wrapper{
    margin-left: 35%;
  }
  .packing-list-form .trip-form {
    flex-wrap: nowrap;
  }
  .packing-list-form .trip-form-input{
    width: 30%;
  }
}

@media only screen and (max-width: 709px) and (min-width: 551px){
  .wrapper{
    row-gap: 130px;
  }
  .img-container{
    width: 150px;
    height: 150px;
  }
  .spotlight{
    column-gap: 30px;
  }
  .row{
    display: none;
  }
  .mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
  }
  .details-row{
    flex-direction: column;
    padding: 80px 0px 50px 0px;
    row-gap: 0px;
  }
  .cards{
    row-gap: 30px;
  }
  .fa-solid{
    font-size: 15px;
  }
  .fa-circle-chevron-left, .fa-circle-chevron-right {
    font-size: 30px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.nav-arrow, .fa-sharp.fa-solid.fa-circle-chevron-left.nav-arrow {
    font-size: 15px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.form-arrow {
    font-size: 35px;
  }
  .btn{
    padding: 5px 20px;
  }
  .circle-container{
    width: 40px;
    height: 40px;
  }
  .map-container{
    width: 250px;
    height: 150px;
  }
  .details-container{
    column-gap: 30px;
    padding: 30px;
  }
  .line-details{
    height: 350px;
  }
  .map-info{
    row-gap: 15px;
  }
  .icon, .itinerary-details-info {
    padding: 10px;
  }
  .trips, .trips-wrapper{
    row-gap: 30px;
  }
  .fa-hotel, .fa-utensils, .fa-map, .fa-exclamation {
    font-size: 20px;
  }
  .trip-form {
    column-gap: 30px;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
  }
  div.header.new-trip-form-wrapper{
    bottom: -120px;
  }
  .new-trip-form-grid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 14px;
  }
  h5{
    font-size: 12px;
  }
  p{
    font-size: 10px;
  }
  .profile-wrapper, .trips-wrapper{
    margin: 0px;
  }
  #mobile{
    display: block;
  }
  #mobile i{
    font-size: 24px;
    cursor: pointer;
  }
  #nav-right.active{
   right: 0px;
  }
  #nav-right{
    position: fixed;
    top: 85px;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 0 0 10px;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  .filter-content-hidden{
    display: none;
  }
  .filter-mobile{
    display: block;
  }
  .mobile-btn{
    width: 60%;
  }
  .nav-dropdown-content{
    position: relative;
    background-color: transparent;
    box-shadow: none;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-menu{
    position: fixed;
    top: 85px;
    left: -300px;
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 0 0 30px;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  .filter-menu.active{
    left: 0;
  }
  .filter-content-visible{
    width: 100%;
    padding: 30px 0px;
  }
  i.fa-solid.fa-filter-circle-xmark.filter-content-visible{
    padding: 0px;
  }
  .dropbtn{
    display: none;
  }
  .my-trips{
    display: none;
  }
  .mobile-drop{
    display: flex;
  }
  .desktop-trips{
    display: none;
  }
  .mobile{
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  .mobile-nav-line{
    width: 100%;
  }
  .side-bar{
    flex-direction: column;
  }
  .packing-list-form .trip-form {
    flex-wrap: nowrap;
  }
  .packing-list-form .trip-form-input{
    width: 30%;
  }
}

@media only screen and (max-width: 550px){
  .wrapper{
    row-gap: 130px;
  }
  .img-container{
    width: 110px;
    height: 110px;
  }
  .spotlight{
    column-gap: 20px;
  }
  .row{
    display: none;
  }
  .mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
  }
  div.details.itinerary-cards{
    flex-direction: row;
  }
  .details{
    flex-direction: column;
    row-gap: 20px;
  }
  .details-row{
    flex-direction: column;
    padding: 80px 0px 50px 0px;
    row-gap: 0px;
  }
  .btn-container{
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .cards{
    row-gap: 30px;
  }
  .fa-solid{
    font-size: 15px;
  }
  .fa-circle-chevron-left, .fa-circle-chevron-right {
    font-size: 30px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.nav-arrow, .fa-sharp.fa-solid.fa-circle-chevron-left.nav-arrow{
    font-size: 15px;
  }
  .fa-sharp.fa-solid.fa-circle-chevron-right.form-arrow {
    font-size: 20px;
  }
  .btn{
    padding: 5px 20px;
  }
  .circle-container{
    width: 40px;
    height: 40px;
  }
  .details-container{
    padding: 0px;
    flex-wrap: wrap;
    margin: 20px auto;
    row-gap: 20px;
  }
  .details-img-container{
    width: 100%;
    height: 120px;
  }
  .line-details{
    display: none;
  }
  .map-details, .map-container{
    width: 100%;
  }
  .map-container{
    height: 150px;
  }
  .map-info{
    row-gap: 15px;
  }
  .icon, .itinerary-details-info {
    padding: 10px;
  }
  .trips, .trips-wrapper{
    row-gap: 30px;
  }
  .fa-hotel, .fa-utensils, .fa-map, .fa-exclamation {
    font-size: 20px;
  }
  .trip-form {
    column-gap: 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    row-gap: 15px;
    justify-content: space-between;
  }
  div.header.new-trip-form-wrapper{
    bottom: -330px;
  }
  .new-trip-form-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 60%;
    margin: 0 auto;
  }
  .new-trip-form-grid{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 14px;
  }
  h5{
    font-size: 12px;
  }
  p{
    font-size: 10px;
  }
  .side-bar{
    flex-direction: column;
  }
  .profile-wrapper, .trips-wrapper{
    margin: 0;
  }
  #mobile{
    display: block;
  }
  #mobile i{
    font-size: 24px;
    cursor: pointer;
  }
  #nav-right.active{
   right: 0px;
  }
  #nav-right{
    position: fixed;
    top: 85px;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 0 0 10px;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }




  .filter-content-hidden{
    display: none;
  }
  .filter-mobile{
    display: block;
  }
  .mobile-btn{
    width: 60%;
  }
  .nav-dropdown-content{
    position: relative;
    background-color: transparent;
    box-shadow: none;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-content-visible{
    width: 100%;
    padding: 30px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  i.fa-solid.fa-filter-circle-xmark.filter-content-visible{
    padding: 0px;
  }
  .dropbtn{
    display: none;
  }
  .my-trips{
    display: none;
  }
  .mobile-drop{
    display: flex;
    margin: 10px;
    padding: 10px;
  }
  .desktop-trips{
    display: none;
  }
  .mobile{
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
  .mobile-nav-line{
    width: 100%;
  }
  .cropped-img-container{
    height: 250px; 
  }
  .trip-info{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .packing-list-form .trip-form {
    flex-wrap: nowrap;
  }
  .packing-list-form .trip-form-input{
    width: 30%;
  }
}

